html{
	height:100%;
}

body {

	margin: 0px;
	height: 100%;

}

#mainTitle{
	color: blue;
	font-family: 'Monoton', cursive;
	margin-top: 40px;
	font-size: 80px;

	
}

#subTitle{
	color: blue;
	font-family:'Bungee Shade', cursive;
	font-size: 28px;
}


.container {
	background-image: url(../images/background2.jpg);
	width: 100%;
	height: 100%;
}

.title{
	padding-top: 15px;
	padding-left: 15px;
	font-family: 'Monoton', cursive;
	font-size: 45px;
	line-height: 45px;
}

.instructions{
	
	padding-left: 10%;
	padding-top: 2%;
	font-family: 'Rubik', sans-serif;
}

#message{
	margin-top: 10px; 
 	
 	font-size: 18px;
 	font-family: 'Rubik', sans-serif;

}
 
 
 #hangman{
 	margin-top: 50px; 
 	text-align:center;
 	font-size: 30px;
 	font-family: 'Rubik', sans-serif;
 	letter-spacing: 10px;
 }

 #samestyle{
 	margin-top: 50px; 
 	text-align:center;
 	font-size: 30px;
 	font-family: 'Rubik', sans-serif;
 	
 }


.wins,
.loses{
 	margin-top: 50px; 
 	text-align:center;
 	font-size: 30px;
 	font-family: 'Rubik', sans-serif;
 	
 }


  .turns{
 	margin-top: 50px; 
 	text-align:center;
 	font-size: 30px;
 	font-family: 'Rubik', sans-serif;
 	
 }

.guesscounter,
 .userguesses{
 	color: red;
 }

 